@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;500;600&display=swap");

/*================
Css Reset
==================*/

*,
::after ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

/*================
Banner and nav area
==================*/
.banconatin {
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-position: top-center;
  background-size: cover;
}
nav {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 10px;
  
}
nav > h1 {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 26px;
}
.menu>a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  margin-right: 20px;
  font-size: 15px;
  
}
.menubtn{
  padding: 13px 20px;
  margin-right: 10px;
  background-color: #23a6f0;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;


}
.banner {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height:700px;
}
.leftban {
  width: 50%;
}
.leftban > h1 {
  font-family: sans-serif;
  font-weight: 800;
  color: white;
  font-size: 50px;
}
.leftban > p {
  color: white;
  font-family: poppins;
  font-weight: 400;
  font-size: 15px;
}
.banbtn{
  margin-top: 30px;
  
}
.leftbtn {
  padding: 17px 30px;
  background-color: #23a6f0;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin-right: 15px;
}
.rightbtn{
  padding: 17px 35px;
  background-color: rgba(24, 143, 255, 0);
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-size: 15px;
}

.rightban{
  background-color: rgb(255, 255, 255);
  padding:50px 35px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  gap: 15px;
  font-family: sans-serif;
}
.rightban>h2{
  font-size: 25px;
}
.rightban>input{
 
  padding: 12px;
  background-color: #f9f9f9;
  border:1px solid #ebebeb;;
  border-radius: 5px;
}
.rightban>label{
  font-size: 14px;
  font-weight: 600;
}
.rightban> select{
  width: 100%;
  padding: 12px 12px;
  background-color: #f9f9f9;
  border:1px solid #ebebeb;
  border-radius: 5px;
}
.Appointmentbtn{
  padding: 13px 20px;
  background-color: #23a6f0;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin-top: 15px;
}

/*================
Features area
==================*/

.features{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.featureheading{
  text-align: center;
  margin:100px;
}
.featureheading> h1{
  font-size: 43px;
  font-family: poppins;
  margin-bottom: 5px;
}
.featureheading >p{
  font-size: 14px;
  font-family: poppins;
  color: #535353;
  line-height: 20px;
  
}
.cards{
  display: flex;
    flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-family: sans-serif;
  margin-bottom: 100px;
}
.carditem{
  background-color: white;
  border: 1px solid #8ec2f256;
  border-radius: 10px;
}
.cardhead{
  background-color: #8ec2f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;

  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 25px 10px;
}
.cardhead>h4{
  color: white;
}
.cardhead>img{
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.cardbody{
  padding: 10px 30px;
  background-color: white;
  border: 1px solid #8ec2f269;
  border-radius: 10px;
  margin-top: 1px;
  
}

.cardbody>ul{
  margin-left: -20px;
}
.cardbody>ul>li{
  list-style: none;
  font-size: 14px;
  color: rgb(100, 100, 100);
  line-height: 23px;
  font-weight: 600;
}
.cardbody>span{
  color: #3fb1f2;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}
.test{
  margin-bottom: 100px;
}


/*================
Testimonial Area
==================*/
.TestimonialHeading{
  text-align: center;
margin-top:-30px;
margin-bottom: 40px;
}
.TestimonialHeading> h1{
  font-size: 43px;
  font-family: poppins;
  margin-bottom: 5px;
}
.TestimonialHeading >p{
  font-size: 14px;
  font-family: poppins;
  color: #535353;
  line-height: 20px;
  
}
.testimonials{
  background-color: #f6f6f6;
  padding: 70px 0px;
  font-family: poppins;
  
}
.testimonialbody{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.testcard{
  padding: 20px 30px;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 5px;
}
.testcard>p{
  font-size: 10px;
  margin-bottom: 20px;
  letter-spacing:0.5px;
  color:rgb(153, 153, 153);
}

.rating{
  width: 100px;
}
.userimg{
  width: 40px;
}

/*================
FAQ Area
==================*/

.faqhead{
  text-align: center;
  margin:50px 100px;
}
.faqhead> h1{
  font-size: 43px;
  font-family: poppins;
  margin-bottom: 5px;
}
.faqhead >p{
  font-size: 14px;
  font-family: poppins;
  color: #535353;
  line-height: 20px;
  
}
.faqbody{
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  /* border: 2px solid black; */
  padding: 40px;
  align-items: center;
  font-family: poppins;
  }
  .faqitemshead> h5{
    font-size: 14px;
    margin:1px
  }
.faqitemshead >p{
  font-size: 12px;
  color: #6f6f6f;
}
.faqitems{
  display: flex;
  gap:10px

}
.arrow{
  width: 15px;
  height: 15px;
}
@media (min-width: 800px) {
  .faqbody{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

}
