@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;500;600&display=swap");

/*================
Css Reset
==================*/

*,
::after ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*================
Utility Classes
==================*/

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  width: 100%;
}

/*================
Navigation Menu
==================*/

.bigdisplay {
  justify-content: center;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 40px 10px;
  display: none;
}

.menu > a {
  margin-right: 60px;
  color: #777676;
  text-decoration: none;
  font-family: roboto;
}
.menu > a:active {
  color: rgb(255, 81, 0);
}
.menu > a:last-child {
  margin-right: 0px;
}

.logo {
  display: flex;
  font-size: 30px;
  gap: 10px;
  align-items: center;
}
.signupbutton {
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  border: 1px solid black;
}
.smalldisplay {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px 10px;
}
@media (min-width: 800px) {
  .bigdisplay {
    display: flex;
  }
  .smalldisplay {
    display: none;
  }
}

/*================
Banner area
==================*/

.banner {
 display: flex;
flex: wrap;
justify-content: center;
  align-content: center;
  margin: auto;
  padding: 40px 10px;
}
.leftbancont{
  width: 50%
}
.leftbancont > h1 {
  font-family: futura;
  font-size: 53px;
}
.para {
  padding: 0px 10px;
  border-left: 1px solid black;
  font-size: 20px;
  font-weight: 400;
  font-family: poppins;
}
.para > p {
  color: #616161;
}
.banbtn {
  margin-top: 40px;
}
.banbtn1 {
  padding: 15px 40px;
  color: white;
  background-color: #ff5e00;
  border: none;
  font-size: 16px;
}
.banbtn2 {
  padding: 13px 40px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px sold black;
  font-size: 16px;
}
.rightbancont {
    width: 50%;
  margin-top: 50px;
    padding-right: 30px;
  position: relative;
  text-align: center;
}
.banimg1 {
  position: absolute;
  width: 350px;
  overflow: hidden;
  right: 80px;
}

.banimg2 {
  position: absolute;
  right: 120px;
  width: 250px;
}
.banimg3 {
  margin-top: -25px;
  width: 380px;
  position: absolute;
  right: 63px;
}
