@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;500;600&display=swap");

/*================
Css Reset
==================*/

*,
::after ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

/*================
Utility Classes
==================*/

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  width: 100%;
}

/*================
Navigation Menu
==================*/

.bigdisplay {
  justify-content: center;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 40px 10px;
  display: none;
}

.menu > a {
  margin-right: 60px;
  color: #777676;
  text-decoration: none;
  font-family: roboto;
}
.menu > a:active {
  color: rgb(255, 81, 0);
}
.menu > a:last-child {
  margin-right: 0px;
}

.logo {
  display: flex;
  font-size: 25px;
  font-weight: 800;
  gap: 14px;
  align-items: center;
  font-family: poppins;
}
.signupbutton {
  margin-right: 20px;
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  border: 1px solid black;
}
.smalldisplay {
  max-width: 500px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px 10px;
}
@media (min-width: 800px) {
  .bigdisplay {
    display: flex;
  }
  .smalldisplay {
    display: none;
  }
}

/*================
Banner area
==================*/

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 10px;
}
.leftbancont {
  width: 100%;
}
.leftbancont > h1 {
  font-family: futura;
  font-size: 35px;
}
.para {
  padding: 0px 10px;
  border-left: 1px solid black;
  font-size: 15px;
  font-weight: 400;
  font-family: poppins;
}
.para > p {
  color: #616161;
}
.banbtn {
  padding: 10px;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}
.banbtn1 {
  padding: 18px 40px;
  color: white;
  background-color: #ff5e00;
  border: none;
  font-size: 16px;
  margin-right: 10px;
}
.banbtn2 {
  padding: 16px 40px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px sold black;
  font-size: 16px;
}
.rightbancont {
  width: 100%;
  padding: 15px;
  margin-top: 50px;
  position: relative;
}
.banimg1 {
  position: relative;
  width: 350px;
  overflow: hidden;
  right: -10px;
}

.banimg2 {
  position: absolute;
  right: 120px;
  width: 250px;
}
.banimg3 {
  margin-top: -25px;
  width: 380px;
  position: absolute;
  right: 63px;
}
.arrowicon{
  position: absolute;
  width: 80px;
margin-left: -100px;
  margin-top: 70px;
}
@media (min-width: 800px) {
  .banner {
    flex-direction: row;
  }
  .rightbancont {
    width: 50%;
    margin-top: 20px;
  }
  .leftbancont {
    width: 50%;
  }
  .leftbancont > h1 {
    font-family: futura;
    font-size: 48px;
  }
  .para {
    padding: 0px 10px;
    border-left: 1px solid black;
    font-size: 18px;
    font-weight: 400;
    font-family: poppins;
  }
  .banimg1 {
    position: absolute;
    width: 350px;
    overflow: hidden;
    right: 80px;
  }
  .banbtn {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    text-align: left;
  }
  .arrowicon{
    position: absolute;
    width: 110px;
    margin-left: 40px;
    margin-top: 40px;
   
  }
}

/*================
Point area
==================*/
.pointareamain {
  background-color: #262543;
  margin-top: 100px;
  
}
.pointarea {
   max-width: 1200px;
  width: 100%;
   display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  color: white;

  padding: 50px 10px;
}
.pointcontent > h1,
h3,
p {
  font-family: poppins;
}
.pointcontent > h1 {
  margin: 0px;
  font-size: 30px;
  font-weight: 400;
}
.pointcontent > h3 {
 
  font-size: 18px;
  font-weight: 400;
}
.pointcontent > p {
  font-size: 10px;
  font-weight: 300;
}
.pointcontent >img{
  padding: 10px;
  border-radius: 10px;
}

.icon1{
  background-color: #1cd7af;
}
.icon2{
  background-color: #fc5b11;
}
.icon3{
  background-color: #525bf1;
}

@media (min-width: 800px) {
  .pointarea {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }

  .pointcontent > p {
    font-size: 14px;
    font-weight: 300;
  }
}
